<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.india.management.mapper.UserMapper">

    <resultMap id="userWithRolesMap" type="com.india.management.entity.User">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="fullName" column="full_name"/>
        <result property="enabled" column="enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <collection property="roles" ofType="com.india.management.entity.Role">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="code" column="role_code"/>
            <result property="description" column="role_description"/>
        </collection>
    </resultMap>

    <select id="selectUserWithRolesByUsername" resultMap="userWithRolesMap">
        SELECT 
            u.id AS user_id,
            u.username,
            u.password,
            u.email,
            u.full_name,
            u.enabled,
            u.create_time,
            u.update_time,
            u.deleted,
            r.id AS role_id,
            r.name AS role_name,
            r.code AS role_code,
            r.description AS role_description
        FROM 
            sys_user u
        LEFT JOIN 
            sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN 
            sys_role r ON ur.role_id = r.id
        WHERE 
            u.username = #{username}
            AND u.deleted = 0
            AND (r.deleted = 0 OR r.deleted IS NULL)
    </select>
</mapper>
